<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>D3.JS | {% if page.title %}{{ page.title }}{% else %} Data Driven Documents {% endif %}</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/app.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen" title="no title" charset="utf-8" />
  <link rel="stylesheet" href="/css/core.css" type="text/css" media="screen" title="no title" charset="utf-8" />
</head>
<body>
  <header id="site-head">
      <nav id="global">
        <div class="wrap">
          <ul>
            <li><a href="/" title="Overview">Overview</a></li>
            <li><a href="/guides" title="Guides">Guides</a></li>
            <li><a href="/api" title="API">API</a></li>
            <li><a href="/ex" title="Examples">Examples</a></li>
            <li><a href="/community.html" title="Community">Community</a></li>
          </ul>
        </div>
      </nav>
      <section id="logo">
        <div class="wrap">
          <div class="wrap-inner">
            <img src="/img/logo.png" alt="D3 Logo" title="D3.JS" />
            <img src="/img/tagline.png" id="tagline" />
          </div>
        </div>
      </section>
  </header>

  <section id="content">
    <div class="wrap">
      <div class="wrap-inner">
        {{ content }}
      </div>
    </div>
  </section>
  <footer>
    <p>Copyright &copy; 2011 <a href="http://bost.ocks.org/mike">Mike Bostock</a>.  Site design by <a href="http://labratrevenge.com">Justin Palmer</a>.</p>
  </footer>
</body>
</html>
